.datachart-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.income-expense-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.metric-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #adaeb1; 
  padding: 1rem;
  border-radius: 0.5rem; 
  background-color: white; 
}


.metric-label {
  font-size: 0.875rem;
  color: #6b7280;
  margin-bottom: 0.25rem;
  text-align: center;
}

.metric-value {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.metric-value--positive {
  color: #059669;
}

.metric-value--negative {
  color: #ef4444;
}

.total-section {
  border-top: 2px solid #e5e7eb;
  padding-top: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.total-value {
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  animation: cardAppear 0.8s ease forwards;
  
}

.card--total {
  grid-column: 1 / -1; 
}