.sidebar {
position: fixed;
top: var(--tabs-height);
width: var(--sidebar-width);
height: calc(100vh - var(--tabs-height));
background-color: var(--sidebar-color);
color: white;
box-shadow: 2px 0 10px rgba(0,0,0,0.1);
z-index: 100;
display: flex;
flex-direction: column;
overflow-y: auto;
}

.sidebar-toggle {
display: none;
background: transparent;
border: none;
color: #555;
cursor: pointer;
font-size: 18px;
margin-right: auto;
}

.logo-section {
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
padding: 25px 0;
width: 100%;
background-color: white;
color: black;
}

.logo-section img {
width: 100px;
border-radius: 50%;
}

.logo-title {
font-weight: bold;
margin-top: 10px;
font-size: 18px;
}

.logo-subtitle {
font-size: 1em;
color: #666;
}

.sidebar-menu-container {
margin-top: 40px;
display: flex;
flex-direction: column;
}

.menu-button {
    display: flex;
    align-items: center;
    padding: 15px 25px 15px 30px;
	margin-right: -6vh;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
	width: 100%;
}	

.menu-button i {
margin-right: 15px;
font-size: 16px;
transition: all 0.3s ease;
width: 20px;
text-align: center;
}

.menu-button:hover {
background-color: #4a4a4a;
transform: translateX(8px);
}

.menu-button.active {
background-color: #5a5a5a;
transform: translateX(8px);
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}