.sidebar {
    position: relative;
    top: var(--topbar-height);
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--sidebar-color);
    color: white;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-toggle {
    display: none;
    background: transparent;
    border: none;
    color: #555;
    cursor: pointer;
    font-size: 18px;
    margin-right: auto;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding: 25px 0;
    width: 100%;
    background-color: white;
    color: black;
}

.logo-section img {
    width: 25%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.logo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.logo-title {
    font-weight: bold;
    font-size: 18px;
}

.logo-subtitle {
    font-size: 1em;
    color: #666;
}

.sidebar-menu-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.menu-button {
    display: flex;
    align-items: center;
    padding: 15px 25px 15px 30px;
	margin-right: -6vh;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
	width: 100%;
    clip-path: inset(0 0 0 12%);
    margin-left: -10%;
    background-color: rgba(99, 99, 99, 0.425);
}	

.menu-button i {
    margin-right: 15px;
    margin-left: 10%;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 20px;
    text-align: center;
}

.menu-button:hover {
    background-color: #4a4a4a;
    transform: translateX(3%);
    clip-path: inset(0 0 0 6%);;
}

.menu-button.active {
    background-color: var(--light-color);
    transform: translateX(3%);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    clip-path: inset(0 0 0 6%);
    border: none;
    outline: none;
}