<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles2.css">
	<!-- BACKGROUND -->
	<div class="bg"></div>
	<div class="bg bg2"></div>
	<div class="bg bg3"></div>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">
		<!-- SECCION IZQUIERDA -->
		<div class="main_1">
			<!-- TOPBAR -->
			<div class="topbar whiteish row">
				<button class="currency"> UYU / USD</button>
				<div class="open-sans stats">Estadísticas</div>
			</div>
			
			<!-- ALERTAS -->
			<div class="container column">
				<!-- cartel -->
				<div class="open-sans alertas_top">
					⚠ Advertencias
				</div>
				<!-- contenido (alertas) -->
				<div class="alertas_bottom">
					<div class="button alerta grad-yellow">STOCK crítico en 2 productos de alto rendimiento</div>
					<div class="button alerta grad-red delay1">1 DEUDA/S a saldar en 2 días</div>
					<div class="button alerta grad-red delay2">DISMINUCIÓN de 50% de ventas en 2 productos</div>
				</div>
			</div>

			<!-- GRAFICAS -->
			<div class="container graphs">
				<div class="graphBlock">
                    <div class=".graph">
                        <p> Ingreso </p>
                        <div class="ing">$400.000 </div>
                    </div>
				</div>
				<div class="graphBlock">
					<div class=".graph">
                        <p> Egreso </p>
                        <div class="eg">$300.000 </div>
                    </div>
				</div>
				<div class="graphBlock">
					<div class=".graph">
                        <p> Total </p>
                        <div class="to">$300.000 </div>
                    </div>
				</div>
			</div>



		</div>

		<!-- SECCION DERECHA -->
		<div class="main_2">

			<!-- SIDEBAR -->
			<div class="sidebar black column">
				<!-- CATEGORIAS -->
				<div class="container box whiteish">
					<div class="open-sans">CATEGORIAS</div>
				</div>
				
				<!-- CONTENEDOR BOTONES -->
				<div class="column sidebar_container_buttons">
					<button class="menu-button blackish">
						INVENTARIO
					</button>
					<button class="menu-button blackish">
						VENTAS
					</button>
					<button class="menu-button blackish">
						COSO
					</button>
					<button class="menu-button blackish">
						COSO2
					</button>
				</div>
			</div>
		</div>

	</div>
    
</body>

</html>





