<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
	<div class="background"></div>

	<!--MENU TRANSACCION NUEVA-->
	<div class = "menu_newTransaction popup">

		<!-- TOPBAR -->
		<div class = "menu_newTransaction_topBar">
			<div class="text open-sans"> Agregando Movimiento </div>
		</div>

		<!-- MIDDLE -->
		<div class = "menu_newTransaction_main">

			<!-- ENTRIES/INPUTS -->
			<div class= "entries">
				<!-- color y size para los nombres de las entries -->
				<style> .entry .container{background-color: #bcc4c4; width: 40%;} </style>
				<div class="entry">
					<div class="container">
						<div class="text open-sans">Fecha</div>
					</div>
					<input class="custom_input">
					</input>
				</div>
				<div class="entry">
					<div class="container">
						<div class="text open-sans">Cuenta</div>
					</div>
					<input class="custom_input">
					</input>
				</div>
				<div class="entry">
					<div class="container">
						<div class="text open-sans">Tipo de Movimiento</div>
					</div>
					<input class="custom_input">
					</input>
				</div>
				<div class="entry">
					<div class="container">
						<div class="text open-sans">Descuento</div>
					</div>
					<input class="custom_input">
					</input>
				</div>
				<div class="entry">
					<div class="container">
						<div class="text open-sans">Abonado al registrar</div>
					</div>
					<input class="custom_input">
					</input>
				</div>
			</div>
			
			<!-- CARRITO -->
			<div class= "carrito">
				<!-- barra superior -->
				<div class="topbar">
					<div class="text open-sans"> CARRITO </div>
				</div>

				<!-- contenido del carrito -->
				<div class="container">
					<div class="container-wrapper">
						<div class="product">
							<div id="product_1"> x1 </div>
							<div id="product_2"> Producto A </div>
						</div>
						<div class="product">
							<div id="product_1"> x2 </div>
							<div id="product_2"> Producto B </div>
						</div>
						<div class="product">
							<div id="product_1"> x1 </div>
							<div id="product_2"> Producto A </div>
						</div>
						<div class="product">
							<div id="product_1"> x2 </div>
							<div id="product_2"> Producto B </div>
						</div>
						<div class="product">
							<div id="product_1"> x1 </div>
							<div id="product_2"> Producto A </div>
						</div>
						<div class="product">
							<div id="product_1"> x2 </div>
							<div id="product_2"> Producto B </div>
						</div>
						<div class="product">
							<div id="product_1"> x1 </div>
							<div id="product_2"> Producto A </div>
						</div>
						<div class="product">
							<div id="product_1"> x2 </div>
							<div id="product_2"> Producto B </div>
						</div>
						<div class="product">
							<div id="product_1"> x1 </div>
							<div id="product_2"> Producto A </div>
						</div>
						<div class="product">
							<div id="product_1"> x2 </div>
							<div id="product_2"> Producto B </div>
						</div>
						<div class="product">
							<div id="product_1"> x1 </div>
							<div id="product_2"> Producto A </div>
						</div>
						<div class="product">
							<div id="product_1"> x2 </div>
							<div id="product_2"> Producto B </div>
						</div>
					</div>
				</div>

				<!-- barra inferior -->
				<div class="bottombar">
					<button class="smallButton button-shadow">
						<div class="text open-sans"> Eliminar Elemento </div>
					</button>
					<button class="smallButton button-shadow">
						<div class="text open-sans"> Añadir Elemento </div>
					</button>
				</div>
			</div>

		</div>
		<!-- BOTTOM -->
		<div class ="menu_newTransaction_bottomBar">
			<button class="bigButton button-shadow gray">
				<div class="text open-sans">CANCELAR</div>
			</button>
			<button class="bigButton button-shadow green">
				<div class="text open-sans">ACEPTAR</div>
			</button>
		</div>
	</div>

</body>

</html>