@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes wideUp {
	0% {
		clip-path: inset(0 90% 0 90%);
	}

	100% {
		clip-path: none;
	}
}